In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/hadoop_issues.csv')

In [3]:
len(df)

677

In [4]:
df['assignee'].value_counts().head(20)

stevel@apache.org    78
gabor.bota           38
danielzhou           34
ajisakaa             24
ajayydv              23
tasanuma0829         21
elek                 18
mackrorysd           17
wujinhu              14
bharatviswa          13
giovanni.fumarola    11
belugabehr           11
tmarquardt           11
xiaochen             11
unclegen              9
esmanii               9
daryn                 9
jack-lee              8
zvenczel              8
zhenyi                8
Name: assignee, dtype: int64

In [5]:
df['assignee'].value_counts(normalize=True).head(20)

stevel@apache.org    0.115214
gabor.bota           0.056130
danielzhou           0.050222
ajisakaa             0.035451
ajayydv              0.033973
tasanuma0829         0.031019
elek                 0.026588
mackrorysd           0.025111
wujinhu              0.020679
bharatviswa          0.019202
giovanni.fumarola    0.016248
belugabehr           0.016248
tmarquardt           0.016248
xiaochen             0.016248
unclegen             0.013294
esmanii              0.013294
daryn                0.013294
jack-lee             0.011817
zvenczel             0.011817
zhenyi               0.011817
Name: assignee, dtype: float64

In [6]:
df.describe()

,key,summary,description,assignee
count,677,677,656,677
unique,677,676,654,158
top,HADOOP-15721,S3AFileSystem.verifyBucketExists to move to s3...,Adding Netty will allow later using a native T...,stevel@apache.org
freq,1,2,2,78

In [7]:
df.head()

,key,summary,description,assignee
0,HADOOP-15994,Upgrade Jackson2 to the latest version,Now Jackson 2.9.5 is used and it is vulnerable...,jack-lee
1,HADOOP-15990,S3AFileSystem.verifyBucketExists to move to s3...,"in S3AFileSystem.initialize(), we check for th...",jack-lee
2,HADOOP-15989,Synchronized at CompositeService#removeService...,Synchronization at CompositeService#removeServ...,prabhu joseph
3,HADOOP-15988,Should be able to set empty directory flag to ...,We have the following comment and implementati...,gabor.bota
4,HADOOP-15987,ITestDynamoDBMetadataStore should check if tes...,The jira covers the following:\r\n* We should ...,gabor.bota